<section class="thirteen columns">
    <h1>Honours &amp; Awards</h1>
    <article>
      <header>
        <span><em>PwC Prize for Whole Leadership</em></span>
        <span><address>NUS</address><time>AY15/16</time></span>
      </header>
    </article>
    <article>
      <header>
        <span><em>Dean's List</em></span>
        <span><address>NUS</address><time>AY15/16 S1, AY15/16 S2</time></span>
      </header>
    </article>
    <article>
      <header>
        <span><em>Nominee of Toh Chin Chye Prize</em></span>
        <span><address>NUS</address><time>AY14/15</time></span>
      </header>
    </article>
    <article>
      <header>
        <span><em>Lee Kuan Yew STEP Award</em></span>
        <span><address>MOE</address><time>2014</time></span>
      </header>
    </article>
</section>
