<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Computing (Honours) in Computer Science</h1>
            <span>National University of Singapore (NUS)</span>
            <span><address>Singapore</address><time>2014 to Present</time></span>
        </header>
        <p>
            Current CAP: 5.0/5.0 comprising a total of 21 'A+'s and 'A's
        </p>
        <p>
            Awarded the University-level PwC Prize for Whole Leadership for AY15/16
        </p>
        <p>
            Nominated by the School of Computing for the Toh Chin Chye Prize in AY14/15
        </p>
        <p>
            Placed on the Dean's List for AY15/16 S1, AY15/16 S2
        </p>
    </article>
    <article>
        <header>
            <h1>Diploma with Merit in Aeronautical Engineering</h1>
            <h1>Diploma-Plus Certificate in Engineering Mathematics</h1>
            <span>Singapore Polytechnic</span>
            <span><address>Singapore</address><time>2008 to 2011</time></span>
        </header>
        <p>
            Emerged valedictorian with a GPA of 4.0/4.0 comprising a total of 48 distinctions and 'A's.
        </p>
        <p>
            Presented with the SIA Engineering Aeronautical Engineering Gold Medal, Alfred Robert Edis Prize, Eurocopter SEA Merit Award, OCBC Prize, Shell Companies in Singapore Prize, The Diploma-Plus Book Prize, The Institution of Engineers (Singapore) Prize
        </p>
        <p>
            Accorded the Model Student Award in 2011
        </p>
        <p>
            Awarded the Eagle Services Asia Award for AY08/09, AY09/10
        </p>
        <p>
            Placed on the Director's Honour Roll for AY08/09, AY09/10, AY10/11
        </p>
    </article>
</section>
