<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-eye-slash"></i>&nbsp;&nbsp;<strong><a href="https://github.com/thngkaiyuan/mynaim">MyNaim</a></strong>
			- Wrote IDAPython scripts to help malware analysts deobfuscate Nymaim samples.
		</h5>
		<h5>
			<i class="fa fa-shield"></i>&nbsp;&nbsp;<strong><a href="https://github.com/thngkaiyuan/cinnadef">Cinnadef</a></strong>
			- Created a customized defence framework for hardening server images used during the Cyber Defence Discovery Camp 2016.
		</h5>
		<h5>
			<i class="fa fa-share"></i>&nbsp;&nbsp;<strong><a href="https://github.com/thngkaiyuan/simple-dns-proxy">Simple DNS Proxy</a></strong>
			- Developed a simple DNS proxy that allows one to customize responses to selected DNS queries.
		</h5>
		<h5>
			<i class="fa fa-key"></i>&nbsp;&nbsp;<strong><a href="https://github.com/thngkaiyuan/chrome-creds-dumper">Google Chrome Credentials Dumper</a></strong>
			- Wrote a script for dumping login credentials saved by Google Chrome.
		</h5>
    <h5>
			<i class="fa fa-code"></i>&nbsp;&nbsp;<strong><a href="https://github.com/codebendercc/eratosthenes">Eratosthenes (Codebender)</a></strong>
			- Enhanced the library management system for Codebender (an online Arduino IDE) as part of the Facebook Open Academy programme.
		</h5>
		<h5>
			<i class="fa fa-users"></i>&nbsp;&nbsp;<strong><a href="https://github.com/TEAMMATES/teammates">Teammates</a></strong>
			- Assessed, raised and fixed security vulnerabilities in Teammates, an online peer evaluation/feedback system for student team projects.
		</h5>
		<h5>
			<i class="fa fa-tasks"></i>&nbsp;&nbsp;<strong><a href="https://github.com/cs2103jan2016-w13-4j/main">Just Faithfully Do It (To-Do Manager)</a></strong>
			- Wrote a really awesome to-do manager in Java.
		</h5>
		<h5>
			<i class="fa fa-upload"></i>&nbsp;&nbsp;<strong><a href="https://github.com/thngkaiyuan/file-sender-receiver">File Sender-Receiver</a></strong>
			- Built a file sender-receiver that reliably sends a file using UDP.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/thngkaiyuan/web-proxy">Web Proxy</a></strong>
			- Wrote a multi-threaded web proxy that provides advanced features such as caching and text censorship.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.comp.nus.edu.sg/~vwo/projects/2015-cccc.html">CMS for Care Corner Counselling Centre</a></strong>
			- Led a team in the development and deployment of a content management system for Care Corner Counselling Centre, a Voluntary Welfare Organization in Singapore.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://cvwo.lbsa.org.sg/">CMS for Lions Befrienders Service Association</a></strong>
			- Led a team in the enhancement of the content management system for Lions Befrienders Service Association, a Voluntary Welfare Organization in Singapore.
		</h5>
    </div>
  </div>
</div>
</section>
